// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom colors
$white: #FFFFFF;
$seashell: #FFF3EB;
$apricot: #FFCEAD;
$dark-apricot: #FF9447;
$grey: #EBEBEB;
$dark-grey: #535050;

