.container {
  margin-top: 20px;
}

.filter-div {
  background-color: $white;
  margin-top: 50px;
}

#filter-text {
  position: left;
  color: $dark-apricot;
}

.fas {
  margin-left: 15px;
}

.fas:hover{
  color: $apricot;
  cursor: pointer;
}


#counter {
  border-width: 1px;
  border-style: solid;
  border-color: $apricot;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}


.user-filter {
  background-color: $white;
  display: flex;
  justify-content: space-around;
}


.buttons {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s

}

.all-videos {
  background-color: $seashell;
  margin-top: 20px;
}

.fas {
  margin-left: 15px;
}

.btn:hover{
  background-color: $dark-apricot;
}


.btn {
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  color: $dark-grey;
  cursor: pointer;
}
