.filter-div {
  background-color: transparent;
  margin-bottom: 5px;
}

#filter-text {
  position: left;
  color: $dark-apricot;
}

.fas {
  margin-left: 15px;
}

.fas:hover{
  color: $apricot;
  cursor: pointer;
}


#counter {
  border-width: 1px;
  border-style: solid;
  border-color: $apricot;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  width: 600px;
  border-radius: 20px;
}


.user-filter {
  background-color: $white;
  display: flex;
  justify-content: space-around;
}


.buttons {
  justify-content: center;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s

}

.top {
  text-align: left;
  padding-left: 18px;
}

.bottom {
  text-align: left;
  padding-left: 18px;
  padding-bottom: 35px;
  padding-top: 20px;
}

.all-videos {
  background-color: $seashell;
  margin-top: 20px;
  border-radius: 15px;
}

.fas {
  margin-left: 15px;
}

.btn:hover{
  background-color: $dark-apricot;
}

.btn-filter:hover{
  color: $dark-apricot;
  text-decoration: none;
}


.btn {
  background-color: transparent;
  border: 2px solid $apricot;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
  color: $dark-grey;
  cursor: pointer;
}

.btn-filter {
  background-color: white;
  border: 2px solid $apricot;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
  color: $dark-grey;
  cursor: pointer;
  font-size: 10px;
}

.btn-search-all {
  color: white;
  background-color: $dark-apricot;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  border:none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin: 0 !important;
  }
  transition: ease all 0.8s;
  text-decoration: none;
  width: 88px;
}
