.welcoming {
  background-color: $seashell;
  text-align: center;
}

.filter-div {
  background-color: $apricot;
  margin-top: 50px;
}

.user-filter {
  background-color: $apricot;
}

#filter-text {
  position: absolute;
  left: 100px;


}

.all-videos {
  background-color: $seashell;
  margin-top: 20px;
}

.btn-group {
  display: flex;
  display: space-between;
}

.btn {
  background-color: $dark-apricot;
  padding: 20px;
  margin: 20px;
}
