// Specific CSS for your home-page
.start {
  padding: 60px 0px;
  padding-top: 40px;
  justify-content: space-evenly;
  height: 675px;
}

.btn-home {
  color: white;
  background-color: $dark-apricot;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  border:none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin: 0 !important;
  }
  transition: ease all 0.8s;
  text-decoration: none;
}

.btn-home:hover {
  color: $dark-apricot;
  border: solid 1px $apricot;
  background-color: transparent;
}


.description {
  p {
    font-size: 20px;
  }
  padding: 30px 0;
  text-align: left;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

 .container1 {
  margin: 15px 5px;
  border-radius: 20px;
  padding: 0 60px;
  h1 {
    color: black;
    font-size: 55px;
  }

  h5 {
    color: black;
  }
  p {
    color: black;
  }
  padding-bottom: 70px;
  // background-image:  url(BGI.png);
  // background-blend-mode: lighten;
  // background-size: cover;
 }

 .upperpart {
    display: flex;
    justify-content: space-between;
 }

 .animation {
  padding-right: 50px;
 }

 .container2 {
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
 }

.container3 {
  margin: 20px 60px;
  display: flex; justify-content: center;
 }

.caption {
  text-align: center;
  height: 100px;
  max-resolution: res;
  padding-top: 50px;
}

.search {
  background-color: $white;
  border-radius: 20px;
  border: 2px solid #FFCEAD;
  justify-content:space-between;
  align-items: flex-end;
  box-shadow:0px 4px 8px rgba(0, 0, 0, 0.08);
  h2 {
    font-size:14px;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
  }
}

.right-border {
  border-right:solid 2px lightgrey;
  height:80px;
  margin-bottom: 5px;
}

.border-hover {
  padding: 5px;
  width: 100%;
  border: 2px solid transparent;
}

.border-hover:hover {
  border-color: lightgrey;
  border-radius: 20px;
  padding: 5px;
}

h1 {
  font-size: 70px;
}

.form-control {
  border:none;
}

.subject {
  cursor: text;
}

.submit {
  margin-left: 2px;
  padding-top:10px;
  text-align: center;
  padding-bottom: 7px;
}

.btn-home {
  max-width: 34px;
}

#first-description {
  text-align: left;
}

.locations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chosen-container {
  width:400px !important;
  padding-top: 7px !important;
  padding-left: 6px !important;
  font-size: 1rem !important;
  padding-bottom: 4px;
}

.chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: auto;
    height: auto;
    border: none !important;
    background-color: #fff;
    background-image: none !important;
    cursor: text;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: $white !important;
    background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,.05);
    color: $dark-apricot !important;
    line-height: 13px;
    cursor: default;
    font-family: Zilla Slab;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  font-family: inherit !important;
}

.strikethrough {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 367px;
    height: 2px;
    background-color: black;
    top: 37px;
    left: 0px;
  }
}

.strikethrough {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 367px;
    height: 2px;
    background-color: black;
    top: 37px;
    left: 0px;
  }
}

.articles {
  overflow: hidden;
  background: white;
  cursor: pointer !important;
  box-shadow:0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.articles > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-top:5px;
  border-radius: 20px;
}

.articles h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding:0;
  padding-bottom:20px;
}

.articles p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.article-infos {
  padding: 16px;
  height:200px;
}

.instagram-media {
  width:80%;
}
