// Specific CSS for your home-page
.start {
  padding: 60px 0px;
  padding-top: 95px;
  display: flex;
  justify-content: space-evenly;
  height: 675px;
}

 .container1 {
  background-color: $seashell;
  margin: 20px 60px;
  margin-top: 45px;
 }

 .container2 {
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
 }

  .container3 {
  margin: 20px 60px;
  display: flex; justify-content: center;
 }

.caption {
  text-align: center;
  height: 100px;
  max-resolution: res;
  padding-top: 50px;
}

.search {
  background-color: $apricot;
  padding:10px 15px;
  border-radius: 50px;
  margin-left: 70px;
}

.headline {
  padding-top: 157px;
}

#h1 {
  font-size: 70px;
}

#h2 {
  padding: 20px;
}
