// Specific CSS for your home-page
.start {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 675px;
}

 .container1 {
  margin-left: 25px;
  margin-right: 25px;
 }

.caption {
  text-align: center;
  height: 100px;
  max-resolution: res;
  padding-top: 50px;
}
