li {
  color: $dark-apricot;
}

.flex {
  display: flex;
}

.bottom-border {
  border-bottom:solid 2px lightgrey;
  padding-bottom: 10px;
  height:40px;
}

.cards {
  margin-left: 20px !important;
}

.form-control {
  color: grey !important;
}
