.search2 {
  width: 280px;
  background-color: $white;
  border-radius: 20px;
  border: 2px solid #FFCEAD;
  justify-content:space-between;
  align-items: flex-end;
  box-shadow:0px 4px 8px rgba(0, 0, 0, 0.08);
  h2 {
    font-size:14px;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
  }
  position: sticky;
  top: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.search2 {
  .chosen-container {
  width: 250px !important;
  }
  input {
    width: 250px !important;
  }
}

.bottom-border {
  border-bottom:solid 2px lightgrey;
}

.cards {
  margin-left: 20px !important;
}

.form-control {
  color: grey !important;
}

.btn-update {
  max-width: 190px;
  color: white;
  background-color: $dark-apricot;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  border:none;
  cursor: pointer;
  transition: ease all 0.8s;
  text-decoration: none;
  max-height: 43px;
}

.btn-update:hover {
  color: $dark-apricot;
  border: solid 1px $apricot;
  background-color: transparent;
  max-width: 190px;
  max-height: 43px;
}


.container {
  h1 {
    padding-top: 60px;
  }
}

.counter {
  h6 {
    font: bold;
  }
  border-width: 1px;
  border-style: solid;
  border-color: $apricot;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

#search {
  position: sticky;
  top: 100px;
  padding-top: 45px;
}
