#headline {
  text-align: center;
  padding: 10px;
}

h2 {
  padding-top: 25px;
  text-align: left;
}

.bookmark-container {
  position: relative;
  svg {
    margin-top: 17px;
  }
  svg.hidden {
    display: none;
  }
}

.goback {
  position: sticky;
  top: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.uni-information {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #FFF3EB;
  margin: 40px 60px;
  border-radius: 40px;

  p {
    text-align: center;
  }

  h4 {
  padding: 21px;
  text-align: center;
}
}

.application {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
  margin: 10px 60px;
}

.question {
  padding-top: 35px;
}

li {
  color: #535050;
}

.video {
  padding-top: 40px;
}

.quote {
  text-align: center;
  background-color: #FFF3EB;
  margin: 40px 66px;
  border-radius: 40px;
  i {
    line-height: 2;
  }
}

.btn-apply {
  max-width: 100px;
  color: white;
  background-color: $dark-apricot;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  border:none;
  cursor: pointer;
  transition: ease all 0.8s;
  text-decoration: none;
  max-height: 50px;
}

.btn-apply:hover {
  color: $dark-apricot;
  border: solid 1px $apricot;
  background-color: transparent;
  max-width: 100px;
  max-height: 50px;
  text-decoration: none;
}
