<div class="container">
  <h1>Your Search Results</h1>
  <div class="row">
    <div class="filter col-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <p>Locations</p>
        </li>
        <li class="nav-item">
          <p>Subjects</p>
        </li>
        <li class="nav-item">
          <p>Private/Public</p>
        </li>
      </ul>
    </div>
    <div class="cards col-9">
      <%= render partial: "/shared/card", locals: { programs: @programs, program: @program } %>
    </div>
  </div>
  <br>
  <br>
</div>
