<div class="container">
  <div class="row">
    <div class="col-12">
       <h1 style="text-align: center">University TU-Munich</h1>
  <iframe width="1120" height="630" src="https://www.youtube.com/embed/Y82CAzKf2eg?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="row">
    <div class="col">
      <div class="text">
       <h2>Computer Science</h2>
       <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div style="display: flex;">
        <div class="col">
          <h2>Link ..........</h2>
        </div>
          <div class="btn btn-danger">bookmark</div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
