<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="footer" style="align-items: center;">

    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-12" style="display: flex;justify-content: center; padding-top: 35px;">
      <!-- Grid column -->
      <a <%= link_to "WYDER Contact", root_path %></a>
    </div>
    <!-- Grid row-->
    </div>
    <div style="display: flex; justify-content: space-around;">
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
    </div>
  </div>
  <!-- Footer Elements -->
  <div style="text-align: center;">
    <!-- Facebook -->
    <a class="fb-ic">
      <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Twitter -->
    <a class="tw-ic">
      <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Instagram-->
    <a class="ins-ic">
      <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
