<!-- Footer -->
<footer class="page-footer">
    <!-- Footer Elements left -->
  <div class="footer-wrapper">
    <div class="footer-left">
      <p> <%= link_to "ABOUT", root_path %></p>
      <p> <%= link_to "UNIVERSITY STANDARD", root_path %></p>
      <p> <%= link_to "SUPPORT", root_path %></p>
    </div>
  <!-- Footer Elements right -->
    <div class="footer-right">
    <!-- Facebook -->
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
    <!-- Twitter -->
      <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
    <!--Instagram-->
      <a class="ins-ic">
       <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
  <!-- Copyright -->
    </div>
  </div>
  <div class="footer-copyright">
    © 2020 Copyright:
  </div>
</footer>

<!-- text-center py-3 -->
