.card-program-1 {
  overflow: hidden;
  height: 150px;
  width: 410px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: $dark-grey !important;
  margin-bottom: 0;

  .position-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: $white;
    z-index: 2;
    transform: translateY(-50%) translateX(-50%);
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  h3 {
    font-size: 14px;
    font-style: italic;
  }

  h4 {
    font-size: 12px;
    font-style: italic;
  }


  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-program-1-infos {
    padding: 16px;
  }
}
.card-program-1-image {
  width: 200px;
  position: relative;
  height: 100%;
  margin: 12px;
}
.card-program-1-image img {
  object-fit: cover;
  width: 200px;
  height: 130px;
}
.program-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}
