.card-program-1 {
  overflow: hidden;
  height: 150px;
  width: 410px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: $dark-grey !important;
  padding: 12px;

  .position-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: $white;
    z-index: 2;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 !important;
  }

  .card-program-title {
    line-height: 17px;
    display: block;
    margin-bottom: 6px;
  }

  i.label {
    display: block;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: -4px;
  }

  p.card-program-info {
    font-size: 14px;
    line-height: 1.4;
    opacity: 0.9;
    margin-bottom: 4px;
  }

}
.card-program-1-image {
  width: 200px;
  position: relative;
  height: 100%;
  margin-right: 12px;
}
.card-program-1-image img {
  object-fit: cover;
  width: 200px;
  height: 130px;
}
.program-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}


