.card-program-1 {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
}

.card-program-1 img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-program-1-image {
  width: 50%;
  flex-shrink: 0;
  background-size: cover;
  position: relative;
}

.card-program-1 .position-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 18px;
}

.card-program-1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-program-1 h3 {
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

.card-program-1 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-program-1 .card-program-1-infos {
  padding: 16px;
}

.card-program-2 {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.card-program-2 > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-program-2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-program-2 h3 {
  font-size: 14px;
  font-style: italic;
  margin: 0;
}

.card-program-2 p {
  font-size: 12px;
  opacity: .7;
  margin-top: 8px;
}


.card-program-2 .card-program-2-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
